* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins';
}

:root {
  --bc-dark: #4f4f4f;
  --bc-light: #fff;
}

/* Dark mode Class */
body.light nav.rolagem {
  background: #2c2c2c00;
  backdrop-filter: blur(2px);
  border: 1px solid #000;
}

body.light nav a {
  color: #000;
}

body.light {
  background: var(--bc-light);
}

body.light #text {
  color: #000;
}

body.light #tittle {
  color: #000;
}

body.light #services {
  background: #ececec;
}

body.ligh nav.rolagem #icon.fa-moon {
  color: #fff;
}

body.light .nav-link.active {
  color: #9b61ff;
}

#icon.fa-sun {
  color: #fff;
}

#modeToggle {
  border: none;
  cursor: pointer;
  font-size: 24px;
  background: none;
}

body.light .box {
  width: 450px;
  height: 450px;

  display: grid;
  place-items: center;

  background: #7426fa;
  border-radius: 56% 44% 79% 21% / 63% 66% 34% 37%;

  box-shadow:
    0 0 2px #7426fa,
    0 0 5px #7426fa,
    0 0 10px #7426fa,
    0 0 15px #7426fa,
    0 0 21px #7426fa,
    0 0 30px #7426fa,
    0 0 70px #7426fa;
}

body.light .home-text h1 {
  font-size: 67px;
  margin: 0 0 20px 0;
  position: relative;

  color: #7426fa;
  text-shadow:
    0 0 2px #7426fada,
    0 0 5px #7426fada,
    0 0 10px #7426fada,
    0 0 21px #7426fada,
    0 0 30px #7426fada;
}

body.light .path a {
  color: #000;
  text-decoration: none;
}

body.light .path {
  color: #000;
  text-decoration: none;
}

/* Top Button*/
#scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 40px;
  height: 40px;
  z-index: 100;
  background: #007bff;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  display: grid;
  place-items: center;
}

#scrollToTop:hover {
  background-color: #0056b3;
}

#scrollToTop i {
  font-size: 22px;
  color: #fff;
}

/* Geral */
a {
  text-decoration: none;
  color: #fff;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

section {
  padding: 60px;
}

body {
  background: var(--bc-dark);
  overflow-x: hidden;
}

p {
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-size: 32px;
}

/* Header */
header {
  display: grid;
  place-items: center;
}

nav {
  width: 100%;
  padding: 40px;
  position: relative;
  position: fixed;
  z-index: 99;
  top: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  display: flex;
  align-items: center;
  justify-content: space-around;

  transition: .5s;
}

nav.rolagem{
  background: #6e6e7000;
  backdrop-filter: blur(2px);
  width: 1000px;
  z-index: 99;

  border-radius: 54px;
  border: 1px solid #fff;

  padding: 20px;
}

.logo {
  width: 30px;
}

nav i{
  font-size: 30px;
}

.nav-list {
  list-style-type: none;
}

.nav-item {
  display: inline-block;
  margin: 0 40px;
}

.nav-link {
  text-decoration: none;
  font-weight: 600;
}

.btn-contato button {
  width: 150px;
  height: 50px;
  font-family: 'poppins';
  border: 0;
  background: #7c3ee9;
  box-shadow: 0 0 0 0 #7c3ee9;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border-radius: 23px;
  animation: alerta 1.5s infinite;
}

@keyframes alerta {
  0% {
    transform: scale();
  }
  70% {
    transform: scale();
    box-shadow: 0 0 0 13px rgba(69, 152, 27, 0);
  }
    100% {
    transform: scale();
    box-shadow: 0 0 0 23px rgba(69, 152, 27, 0);
  }
}

.nav-link {
	padding: 0 14px;
	font-size: 18px;
}

.nav-link:hover {
  color: #9b61ff;
}

.nav-link.active {
  color: #9b61ff;
}

/* Home */
#home {
  height: 875px;
  display: grid;
  place-items: center;
}

.home-container {
  width: 100%;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.home-text {
  font-family: 'poppins';
  text-align: left;
  margin-top: 80px;
}

.home-text h1 {
  font-size: 67px;
  margin: 0 0 20px 0;
  position: relative;

  color: #7c3ee9;
  text-shadow:
    0 0 5px #6f2ed6,
    0 0 10px #6f2ed6,
    0 0 20px #6f2ed6,
    0 0 30px #6f2ed6,
    0 0 40px #6f2ed6;
}

.home-text p {
  width: 600px;
}

.img-person {
  width: calc(100% + 100px);
}

.box {
  width: 450px;
  height: 450px;

  display: grid;
  place-items: center;

  background: #6f2ed6;
  border-radius: 56% 44% 79% 21% / 63% 66% 34% 37%;

  box-shadow:
    0 0 5px #6f2ed6,
    0 0 10px #6f2ed6,
    0 0 15px #6f2ed6,
    0 0 20px #6f2ed6,
    0 0 30px #6f2ed6,
    0 0 40px #6f2ed6,
    0 0 50px #6f2ed6;
}

/* Services */
#services {
  background: #fff;
  width: 100%;
  padding: 35px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

#services img {
  width: 120px;
  border-radius: 13px;
}

/* About */
#about {
  width: 100%;
  padding: 120px;
}

.about-person {
  width: calc(100% + 100px);
}

.box-about {
  width: 450px;
  height: 450px;

  display: grid;
  place-items: center;

  background: #6f2ed6;
  border-radius: 56% 44% 79% 21% / 63% 66% 34% 37%;

  box-shadow:
    0 0 5px #6f2ed6,
    0 0 10px #6f2ed6,
    0 0 15px #6f2ed6,
    0 0 20px #6f2ed6,
    0 0 30px #6f2ed6,
    0 0 40px #6f2ed6,
    0 0 50px #6f2ed6;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.about-text {
  width: 600px;
  font-family: 'poppins';
  text-align: left;
  margin-top: 80px;
}

.about-text h1 {
  position: relative;
  padding-bottom: 10px;
}

.about-text h1::before {
  content: "";
  position: absolute;
  background: #6f2ed6;
  width: 100px;
  height: 2px;
  bottom: 0;
  left: 0;
  box-shadow:
    0 0 1px #6f2ed6,
    0 0 2px #6f2ed6,
    0 0 5px #6f2ed6,
    0 0 6px #6f2ed6,
    0 0 7px #6f2ed6,
    0 0 8px #6f2ed6,
    0 0 9px #6f2ed6;
}

.about-text p {
  margin-top: 40px;
}

/* Projects */
#projects {
  width: 100%;
  padding: 60px;

  display: grid;
  place-items: center;

  gap: 50px;
}

#projects h1 {
  position: relative;
  padding-bottom: 10px;
}

#projects h1::before {
  content: "";
  position: absolute;
  background: #7c3ee9;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  box-shadow:
    0 0 1px #7c3ee9da,
    0 0 2px #7c3ee9da,
    0 0 5px #7c3ee9da,
    0 0 6px #7c3ee9da,
    0 0 7px #7c3ee9da,
    0 0 8px #7c3ee9da,
    0 0 9px #7c3ee9da;
}

.path {
  display: flex;
  align-items: center;
  gap: 30px;
}

.path a {
  text-align: center;
  font-family: 'poppins';
}

.path a:hover {
  color: #7c3ee9;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 320px);

  gap: 40px;
}

.box-proj {
  background: cornflowerblue;
  width: 320px;
  height: 210px;

  border-radius: 5px;
}

.box-proj:hover {
  transform: scale(1.01);
}

/* Contact */
#contact {
  background: url('https://static.vecteezy.com/ti/vetor-gratis/p1/14216682-fundo-de-abstrato-moderno-de-linhas-de-ondas-fluidas-de-gradiente-roxo-e-azul-conceito-de-ilustracao-de-tecnologia-futurista-vetor.jpg') center no-repeat;
  background-size: cover;
  background-attachment: fixed;

  height: 700px;
  width: 100%;

  display: grid;
  place-items: center;
}

.contact-container {
  width: calc(100% - 600px);
  height: 100%;

  background: #2c2b2b;
  border-radius: 32px;
}




/* Footer */
footer {
  width: 100%;
  margin: 0;
  bottom: 0;
}

.footer-contact {
  background: #23232e;
  width: 100%;
  height: auto;
  padding: 60px;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-link {
  color: #9f78ed;
  font-size: 62px;
}

.whatsapp  {
  display: flex;
  align-items: center;
  gap: 18px;
}

.whatsapp .text p {
  color: #969494;
}

.email  {
  display: flex;
  align-items: center;
  gap: 18px;
}

.email .text p {
  color: #969494;
}

.locate  {
  display: flex;
  align-items: center;
  gap: 18px;
}

.locate .text p {
  color: #969494;
}

.text h2 {
  font-weight: bold;
  color: #fff;

  cursor: pointer;
}

.text h2:hover {
  color: #9f78ed;
}

@media (width <= 1240px) {
  .footer-contact {
    padding: 20px;
    padding-left: 40px;
  }
  .contacts {
    display: grid;
    padding: 0;
    width: 200px;

    font-size: 12px;
  }
  .contacts i {
    font-size: 43px;
  }
}

@media (width <= 380px) {
  .footer-contact {
    padding-left: 15px;
  }
  .contacts {
    font-size: 10px;
    align-items: center;
  }
  .contacts i {
    font-size: 34px;
  }
}

@media (width <= 380px) {
  .footer-contact {
    padding-left: 15px;
  }
  .contacts {
    font-size: 8px;
    place-items: center;
  }
  .contacts i {
    font-size: 27px;
  }
  .footer-sociais {
    flex-wrap: wrap;
  }
  .copyright {
    text-align: center;
  }
}

.footer-sociais {
  background: #333138;
  width: 100%;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  color: #fff;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 20px;

  font-size: 25px;
}

.social-link {
  color: #fff;
  cursor: pointer;
}

.social-link:hover {
  color: #9f78ed;
}

.footer-content {
  background: #23232e;
  width: 100%;

  padding: 40px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-content h1 {
  color: #fff;
  position: relative;
  padding: 0 0 10px 0;
}

.footer-content h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70px;
  height: 2px;
  background: rgb(105, 103, 103);
}

.footer-content p {
  margin: 30px 0 0 0;
  color: #fff;

  width: 600px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 8px;
  margin: -49px 0 0 0;
}

.copyright {
  background: #23232e;
  padding: 25px;   

  display: grid;
  place-items: center;
  color: #fff;
}