* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  background: #242222;
  overflow-x: hidden;
  height: 5000px;
}

section {
  margin-top: 50px;
  width: 100%;
}

p {
  color: #fff;
}

/* Header */
header {
  line-height: 1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
  max-width: 1280px;
  margin: auto;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header{
  width: 100%;
  padding: 60px 4%;
  position: fixed;
  top: 0;
  left: 0;
  transition: .5s;
}

header.rolagem{
  background: #6e6e7000;
  backdrop-filter: blur(2px);
  width: 1000px;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 450px;
  z-index: 1;

  border-radius: 54px;
  border: 1px solid #fff;

  padding: 20px;
}

header.rolagem i{
  color: #7b39e4;
}

header i{
  font-size: 30px;
  color: #ffffff;
}

.nav-list {
  list-style-type: none;
}

.nav-item {
  display: inline-block;
  margin: 0 40px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.btn-contato button {
  width: 150px;
  height: 50px;
  border: 0;
  background: #7b39e4;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  transition: .2s;
  border-radius: 23px;
}

.nav-link {
	padding: 0 14px;
	font-size: 18px;
}

.nav-link.active {
  color: #7b39e4;
}

/* Home */
#home {
  height: 705px;
  display: grid;
  place-items: center;
}

.home-container {
  width: 100%;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.home-text {
  color: #fff;
  font-family: 'poppins';
  text-align: left;
  margin-top: 80px;
}

.home-text h1 {
  font-size: 67px;
  margin: 0 0 20px 0;
  position: relative;

  color: #642cbd;
  text-shadow:
    0 0 5px #642cbd,
    0 0 10px #642cbd,
    0 0 20px #642cbdda,
    0 0 30px #642cbd,
    0 0 40px #642cbd;
}

.home-text p {
  width: 600px;
}

.img-person {
  width: calc(100% + 100px);
}

.box {
  width: 450px;
  height: 450px;

  display: grid;
  place-items: center;

  background: #642cbd;
  border-radius: 56% 44% 79% 21% / 63% 66% 34% 37%;

  box-shadow:
    0 0 5px #642cbdda,
    0 0 10px #642cbdda,
    0 0 15px #642cbdda,
    0 0 20px #642cbdda,
    0 0 30px #642cbdda,
    0 0 40px #642cbdda,
    0 0 50px #642cbdda;
}

/* Services */
#services {
  background: #fff;
  width: 100%;
  padding: 35px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

#services img {
  width: 120px;
  border-radius: 13px;
}