* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #4f4f4f;
  overflow-x: hidden;
}

section {
  scroll-padding-top: 60px;
}

p {
  color: #fff;
}

/* Header */
header {
  display: grid;
  place-items: center;
}

nav {
  width: 100%;
  padding: 60px 4%;
  position: fixed;
  top: 0;
  left: 0;
  line-height: 1;
  font-family: 'poppins';
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;

  transition: .9s;
}

nav.rolagem{
  background: #6e6e7000;
  backdrop-filter: blur(2px);
  width: 1000px;
  margin-left: 450px;
  z-index: 1;

  border-radius: 54px;
  border: 1px solid #fff;

  padding: 20px;
}

nav.rolagem i{
  color: #7c3ee9;
}

nav i{
  font-size: 30px;
  color: #ffffff;
}

.nav-list {
  list-style-type: none;
}

.nav-item {
  display: inline-block;
  margin: 0 40px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.btn-contato button {
  width: 150px;
  height: 50px;
  font-family:'poppins';
  border: 0;
  background: #7c3ee9;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  transition: .2s;
  border-radius: 23px;
}

.nav-link {
	padding: 0 14px;
	font-size: 18px;
}

.nav-link:hover {
  color: #7c3ee9;
}

.nav-link.active {
  color: #7c3ee9;
}

/* Home */
#home {
  height: 775px;
  display: grid;
  place-items: center;
}

.home-container {
  width: 100%;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.home-text {
  color: #fff;
  font-family: 'poppins';
  text-align: left;
  margin-top: 80px;
}

.home-text h1 {
  font-size: 67px;
  margin: 0 0 20px 0;
  position: relative;

  color: #7c3ee9;
  text-shadow:
    0 0 5px #6f2ed6,
    0 0 10px #6f2ed6,
    0 0 20px #6f2ed6,
    0 0 30px #6f2ed6,
    0 0 40px #6f2ed6;
}

.home-text p {
  width: 600px;
}

.img-person {
  width: calc(100% + 100px);
}

.box {
  width: 450px;
  height: 450px;

  display: grid;
  place-items: center;

  background: #6f2ed6;
  border-radius: 56% 44% 79% 21% / 63% 66% 34% 37%;

  box-shadow:
    0 0 5px #6f2ed6,
    0 0 10px #6f2ed6,
    0 0 15px #6f2ed6,
    0 0 20px #6f2ed6,
    0 0 30px #6f2ed6,
    0 0 40px #6f2ed6,
    0 0 50px #6f2ed6;
}

/* Services */
#services {
  background: #fff;
  width: 100%;
  padding: 35px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

#services img {
  width: 120px;
  border-radius: 13px;
}

/* About */
#about {
  width: 100%;

  padding: 60px;
}

.about-person {
  width: calc(100% + 100px);
}

.box-about {
  width: 450px;
  height: 450px;

  display: grid;
  place-items: center;

  background: #6f2ed6;
  border-radius: 56% 44% 79% 21% / 63% 66% 34% 37%;

  box-shadow:
    0 0 5px #6f2ed6,
    0 0 10px #6f2ed6,
    0 0 15px #6f2ed6,
    0 0 20px #6f2ed6,
    0 0 30px #6f2ed6,
    0 0 40px #6f2ed6,
    0 0 50px #6f2ed6;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.about-text {
  width: 600px;
  color: #fff;
  font-family: 'poppins';
  text-align: left;
  margin-top: 80px;
}

.about-text h1 {
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}

.about-text h1::before {
  content: "";
  position: absolute;
  background: #6f2ed6;
  width: 100px;
  height: 3px;
  bottom: 0;
  left: 0;
  box-shadow:
    0 0 1px #6f2ed6,
    0 0 2px #6f2ed6,
    0 0 5px #6f2ed6,
    0 0 6px #6f2ed6,
    0 0 7px #6f2ed6,
    0 0 8px #6f2ed6,
    0 0 9px #6f2ed6;
}

/* Projects */
#projects {
  width: 100%;
  padding: 60px;
  background: #fff;

  display: grid;
  place-items: center;

  gap: 50px;
}

#projects h1 {
  font-family: 'poppins';
  position: relative;
}

#projects h1::before {
  content: "";
  position: absolute;
  background: #7c3ee9;
  width: 100px;
  height: 3px;
  bottom: 0;
  left: 0;
  box-shadow:
    0 0 1px #7c3ee9da,
    0 0 2px #7c3ee9da,
    0 0 5px #7c3ee9da,
    0 0 6px #7c3ee9da,
    0 0 7px #7c3ee9da,
    0 0 8px #7c3ee9da,
    0 0 9px #7c3ee9da;
}

.link {
  display: flex;
  align-items: center;
  gap: 30px;
}

.link a {
  text-align: center;
  color: #000;
  font-family: 'poppins';
}

.link a:hover {
  color: #7c3ee9;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 400px);

  gap: 40px;
}

.box-proj {
  background: cornflowerblue;
  width: 400px;
  height: 210px;

  border-radius: 5px;
}

.box-proj:hover {
  transform: scale(1.01);
}